img {
    height:500px;
    width:800px;
    display: block;
    margin:0 auto;
}
select {
    height:40px;
    width:30%;
    font-size: 30px;
}
#container {
    font-size: 30px;
}
input {
    font-size: 30px;
}